.cell {
    position: relative;
    width: 39px;
    height: 39px;
    border: 1px solid black;
}

th, td {
    padding: 0px;
}

#field {
    gap: 0px;
    border-spacing: 0px;
}

#ship {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 120px;
    height: 40px;
    border: 2px solid green;
    background-color: aqua;
    z-index: 1;
}