@font-face {
    font-family: handwritten;
    src: url("../assets/font.ttf");
}

body, html {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0px;
    font-family: handwritten;
    background:
      linear-gradient(rgba(252, 252, 252, 0.5), rgba(158, 158, 158, 0.219)),
      url('../assets/turbulence.svg');
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    width: fit-content;
    flex-direction: column;
}

input {
    background-color: transparent;
    text-align: center;
    background-color: rgb(223, 223, 223);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button, input {
    font-size: 24px;
    font-family: handwritten;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

button:hover {
    cursor: pointer;
}
